.auth-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    border: 2px solid rgb(200, 120, 230);
    background-color: rgb(242, 224, 251);
  }
  
  .auth-form input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .auth-form button {
    width: 100%;
    padding: 0.75rem;
    background-color: rgb(200, 120, 230);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .auth-form button:hover {
    background-color: black;
  }
  

 
  .register{
    font-size: 1.rem;
    text-align: center;
    margin-top: 1rem;
}